<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Hege Refsnes">
    <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0' user-scalable='no'>
    <title>Title of the page</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="style.css" rel='stylesheet'>
</head>

<!--http://codepen.io/cblupodev/pen/doqvwr-->
<!--https://www.freecodecamp.com/challenges/build-a-wikipedia-viewer-->

<body ng-app='app' ng-view ng-cloak ng-controller='Main'>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src='script.js'></script>

    <!--links to codepen and freecodecamp-->
    <div id='links' layout-align="start start" flex>
        <div layout='row'>
            go to codepen project <a href='http://codepen.io/cblupodev/pen/doqvwr' target='_blank'> [codepen.io]</a>
        </div>
        <div layout='row'>
            go to freecodeamp assignment <a href='https://www.freecodecamp.com/challenges/build-a-wikipedia-viewer' target='_blank'> [freecodeamp.com]</a>
        </div>
    </div>
    <main layout='column' layout-align='center center'>
        <md-input-container id='search'>
            <!--autofocus-->
            <input type='search' placeholder='search wikipedia' ng-model='query' my-enter='submit();'>
        </md-input-container>
        <div id='results'>
            <md-list>
                <md-list-item ng-repeat='e in results'>
                    <a href="http://en.wikipedia.org/wiki/{{e.title}}">
                        <div>
                            <span>{{e.title}}</span>
                            <span class='snippet' ng-bind-html='insertSnippet(e.snippet);'></span>
                        </div>
                    </a>
                </md-list-item>
            </md-list>
        </div>
    </main>
</body>

</html>